<!DOCTYPE html>
<html>
  <head>
    <style>
      * {
        box-sizing: border-box;
      }
      .root {
        width: 680px;
        display: block;
        margin: 0 auto;
      }
      .container {
        border: 1px solid #c4c4c4;
        padding: 55px;
        text-align: center;
      }
      .container-logo {
        margin: 65px auto;
        text-align: center;
      }
      .logo {
        width: 103px;
        height: 63px;
      }
      .copyright {
        margin-top: 36px;
        color: #9d9d9d;
        font-size: 12px;
        text-align: center;
      }
      .built {
        margin: 50px 0;
        text-align: center;
        color: #9d9d9d;
        font-size: 12px;
      }
      .label {
        font-weight: bold;
        font-size: 18px;
        color: #000;
        margin-top: 0px;
      }
      .label span {
        color: #722efa;
      }
      .desc {
        font-size: 16px;
        line-height: 32px;
        text-align: center;
      }
      .image-bg {
        background-color: #d9d9d9;
        height: 151px;
        border-radius: 10px;
        margin: 2rem 0px;
      }
      .button {
        background-color: #722efa;
        color: #fff;
        padding: 18px;
        font-size: 16px;
        text-align: center;
        border-radius: 10px;
        border: none;
        width: 100%;
        cursor: pointer;
        margin: 1rem 0px;
      }
    </style>
  </head>
  <body>
    <div class="root">
      <div class="container-logo">
        <img alt="logo" class="logo" src="<%= host %>/assets/images/logo.png" />
      </div>
      <div class="container">
        <!-- title -->
        <p class="label"><%= title %> <span>TTMIK Stories!</span></p>

        <!-- logo image -->
        <div class="image-bg">
          <img src="<%= logoImageUri %>" alt="logo" />
        </div>

        <!-- intro -->
        <p class="desc"><%- intro %></p>

        <!-- button -->
        <% if (button) { %>
        <a target="_blank" href="<%= link %>" style="text-decoration: none">
          <div class="button"><%- button %></div>
        </a>
        <% } %>

        <!-- caption -->
        <% if (caption) { %>
        <p class="desc"><%- caption %></p>
        <% } %>
      </div>
      <div class="copyright">
        <span>you didn't make this request, please contact us.</span>
      </div>
      <div class="built"><span>TTMIK Team</span></div>
    </div>
  </body>
</html>
